/* Estilos para los enlaces de la navegación */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px; /* Aumentar el padding para más tamaño */
    font-size: 16px; /* Aumentar el tamaño de la fuente */
    border-radius: 5px; /* Bordes redondeados opcionales */
    transition: background-color 0.3s; /* Transición suave para hover */
}

/* Estilos para el botón de Login */
.login-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 25px; /* Aumentar el padding para más tamaño */
    font-size: 16px; /* Aumentar el tamaño de la fuente */
    border-radius: 5px; /* Bordes redondeados opcionales */
    cursor: pointer;
    float: right; /* Alinear a la derecha */
}

.login-btn:hover {
    background-color: #45a049; /* Cambiar color al pasar el mouse */
}
